<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>				
	    <!-- LOG -->
		<RollingFile name="LogFile" fileName="/opt/tomcat/apache-tomcat/logs/log.log"
                        filePattern="/opt/tomcat/apache-tomcat/logs/Ubicomp-%d{yyyy}-%i.log.gz">

			<PatternLayout
				pattern="%n%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-30l %logger{36} ### %msg"
				header="-- LOG LMDL --" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>		
	    <!-- LOGDB -->
		<RollingFile name="LogFileBD" fileName="/opt/tomcat/apache-tomcat/logs/logbd.log"
                        filePattern="/opt/tomcat/apache-tomcat/logs/Ubicomp-%d{yyyy}-%i.log.gz">

			<PatternLayout
				pattern="%n%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-30l %logger{36} ### %msg"
				header="-- LOG LMDL BD--" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20"/>	
                </RollingFile>
	    <!-- LOGMQTT -->
		<RollingFile name="LogFileMQTT" fileName="/opt/tomcat/apache-tomcat/logs/logmqtt.log"
                        filePattern="/opt/tomcat/apache-tomcat/logs/Ubicomp-%d{yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%n%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-30l %logger{36} ### %msg"
				header="-- LOG MQTT LMDL --" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>	
	</Appenders>
	<Loggers>
	    <!-- LOG -->
		<Logger name="log" additivity="FALSE" level="INFO">
            <AppenderRef ref="LogFile" level="INFO" />
        </Logger>
	    <!-- LOGDB -->
		<Logger name="logbd" additivity="FALSE" level="INFO">
            <AppenderRef ref="LogFileBD" level="INFO" />
        </Logger>
	    <!-- LOGMQTT -->
		<Logger name="logmqtt" additivity="FALSE" level="INFO">
            <AppenderRef ref="LogFileMQTT" level="INFO" />
        </Logger>
	</Loggers>
</Configuration>
