<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lmdl_app">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LMDL - SISTEMA SEGURIDAD"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LMDLAPP"
        android:usesCleartextTraffic="true">

        <activity android:name=".MenuSistemaAdmin" />
        <activity android:name=".MenuSistema" />
        <activity android:name=".NuevoUsuario" />
        <activity android:name=".Camaras" />
        <activity android:name=".Estadisticas" />
        <activity android:name=".EstadoAlarma" />
        <activity android:name=".Habitaciones" />
        <activity android:name=".Informes" />
        <activity android:name=".Registros" />
        <activity android:name=".RegistrosCamaras" />
        <activity android:name=".Seguridad"/>
        <activity android:name=".SimulacionPresencia"/>
        <activity android:name=".Usuarios"/>
        <activity android:name=".VerQR"/>
        <activity android:name=".RegistrarSimulacion"/>
        <activity android:name=".SimulacionesProgramadas"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>