<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>LMDL Server</display-name>
    <servlet>
        <servlet-name>ComprobarQR</servlet-name>
        <servlet-class>servlets.ComprobarQR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSistemasCliente</servlet-name>
        <servlet-class>servlets.GetSistemasCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>servlets.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsuariosSistema</servlet-name>
        <servlet-class>servlets.GetUsuariosSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetHabitacionesSistema</servlet-name>
        <servlet-class>servlets.GetHabitacionesSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUltRegistrosEstadisticosHabitacion</servlet-name>
        <servlet-class>servlets.GetUltRegistrosEstadisticosHabitacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRegistrosSensoresHabitacionFecha</servlet-name>
        <servlet-class>servlets.GetRegistrosSensoresHabitacionFecha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRegistrosAlertas</servlet-name>
        <servlet-class>servlets.GetRegistrosAlertas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarEstadoAlarma</servlet-name>
        <servlet-class>servlets.CambiarEstadoAlarma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEstadoAlarma</servlet-name>
        <servlet-class>servlets.GetEstadoAlarma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRegistrosActuadores</servlet-name>
        <servlet-class>servlets.GetRegistrosActuadores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarSimulacion</servlet-name>
        <servlet-class>servlets.RegistrarSimulacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetActuadoresSistema</servlet-name>
        <servlet-class>servlets.GetActuadoresSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarUsuarioSistema</servlet-name>
        <servlet-class>servlets.BorrarUsuarioSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarUsuarioSistema</servlet-name>
        <servlet-class>servlets.InsertarUsuarioSistema</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComprobarQR</servlet-name>
        <url-pattern>/ComprobarQR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSistemasCliente</servlet-name>
        <url-pattern>/GetSistemasCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsuariosSistema</servlet-name>
        <url-pattern>/GetUsuariosSistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHabitacionesSistema</servlet-name>
        <url-pattern>/GetHabitacionesSistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUltRegistrosEstadisticosHabitacion</servlet-name>
        <url-pattern>/GetUltRegistrosEstadisticosHabitacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRegistrosSensoresHabitacionFecha</servlet-name>
        <url-pattern>/GetRegistrosSensoresHabitacionFecha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRegistrosAlertas</servlet-name>
        <url-pattern>/GetRegistrosAlertas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarEstadoAlarma</servlet-name>
        <url-pattern>/CambiarEstadoAlarma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEstadoAlarma</servlet-name>
        <url-pattern>/GetEstadoAlarma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRegistrosActuadores</servlet-name>
        <url-pattern>/GetRegistrosActuadores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarSimulacion</servlet-name>
        <url-pattern>/RegistrarSimulacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetActuadoresSistema</servlet-name>
        <url-pattern>/GetActuadoresSistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarUsuarioSistema</servlet-name>
        <url-pattern>/BorrarUsuarioSistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarUsuarioSistema</servlet-name>
        <url-pattern>/InsertarUsuarioSistema</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
